In [13]:
import tensorflow as tf
import numpy as np
import pandas as pd 


file_url = "http://storage.googleapis.com/download.tensorflow.org/data/heart.csv"
dataframe = pd.read_csv(file_url)
dataframe.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [17]:
val_dataframe = dataframe.sample(frac=0.2, random_state=1337)
val_dataframe.index
train_dataframe = dataframe.drop(val_dataframe.index)
train_dataframe

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0
5,56,1,2,120,236,0,0,178,0,0.8,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,52,1,1,118,186,0,2,190,0,0.0,2,0,fixed,0
299,43,0,4,132,341,1,2,136,1,3.0,2,0,reversible,1
300,65,1,4,135,254,0,2,127,0,2.8,2,1,reversible,1
301,48,1,4,130,256,1,2,150,1,0.0,1,2,reversible,1
302,63,0,4,150,407,0,2,154,0,4.0,2,3,reversible,1

In [18]:
print(
    "Using %d samples for training and %d for validation"
    % (len(train_dataframe), len(val_dataframe))
)

Using 242 samples for training and 61 for validation

In [21]:
dict(val_dataframe)

{'age': 96     41
 142    67
 80     51
 67     41
 188    41
        ..
 140    62
 258    51
 269    41
 85     70
 153    58
 Name: age, Length: 61, dtype: int64,
 'sex': 96     1
 142    1
 80     1
 67     1
 188    0
       ..
 140    0
 258    1
 269    1
 85     1
 153    1
 Name: sex, Length: 61, dtype: int64,
 'cp': 96     3
 142    4
 80     3
 67     2
 188    2
       ..
 140    4
 258    3
 269    4
 85     4
 153    4
 Name: cp, Length: 61, dtype: int64,
 'trestbps': 96     112
 142    100
 80      94
 67     135
 188    126
       ...
 140    138
 258    110
 269    110
 85     145
 153    128
 Name: trestbps, Length: 61, dtype: int64,
 'chol': 96     250
 142    299
 80     227
 67     203
 188    306
       ...
 140    294
 258    175
 269    172
 85     174
 153    259
 Name: chol, Length: 61, dtype: int64,
 'fbs': 96     0
 142    0
 80     0
 67     0
 188    0
       ..
 140    1
 258    0
 269    0
 85     0
 153    0
 Name: fbs, Length: 61, dtype: int64,
 'restecg': 96     0
 142    2
 80     0
 67     0
 188    0
       ..
 140    0
 258    0
 269    2
 85     0
 153    2
 Name: restecg, Length: 61, dtype: int64,
 'thalach': 96     179
 142    125
 80     154
 67     132
 188    163
       ...
 140    106
 258    123
 269    158
 85     125
 153    130
 Name: thalach, Length: 61, dtype: int64,
 'exang': 96     0
 142    1
 80     1
 67     0
 188    0
       ..
 140    0
 258    0
 269    0
 85     1
 153    1
 Name: exang, Length: 61, dtype: int64,
 'oldpeak': 96     0.0
 142    0.9
 80     0.0
 67     0.0
 188    0.0
       ...
 140    1.9
 258    0.6
 269    0.0
 85     2.6
 153    3.0
 Name: oldpeak, Length: 61, dtype: float64,
 'slope': 96     1
 142    2
 80     1
 67     2
 188    1
       ..
 140    2
 258    1
 269    1
 85     3
 153    2
 Name: slope, Length: 61, dtype: int64,
 'ca': 96     0
 142    2
 80     1
 67     0
 188    0
       ..
 140    3
 258    0
 269    0
 85     0
 153    2
 Name: ca, Length: 61, dtype: int64,
 'thal': 96         normal
 142        normal
 80     reversible
 67          fixed
 188        normal
           ...
 140        normal
 258        normal
 269    reversible
 85     reversible
 153    reversible
 Name: thal, Length: 61, dtype: object,
 'target': 96     0
 142    1
 80     0
 67     0
 188    0
       ..
 140    1
 258    0
 269    0
 85     1
 153    1
 Name: target, Length: 61, dtype: int64}

In [22]:
val_dataframe

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
96,41,1,3,112,250,0,0,179,0,0.0,1,0,normal,0
142,67,1,4,100,299,0,2,125,1,0.9,2,2,normal,1
80,51,1,3,94,227,0,0,154,1,0.0,1,1,reversible,0
67,41,1,2,135,203,0,0,132,0,0.0,2,0,fixed,0
188,41,0,2,126,306,0,0,163,0,0.0,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,62,0,4,138,294,1,0,106,0,1.9,2,3,normal,1
258,51,1,3,110,175,0,0,123,0,0.6,1,0,normal,0
269,41,1,4,110,172,0,2,158,0,0.0,1,0,reversible,0
85,70,1,4,145,174,0,0,125,1,2.6,3,0,reversible,1
153,58,1,4,128,259,0,2,130,1,3.0,2,2,reversible,1

In [23]:
labels = dataframe.pop("target")
labels

0      0
1      1
2      0
3      0
4      0
      ..
298    0
299    1
300    1
301    1
302    1
Name: target, Length: 303, dtype: int64

In [ ]:
def dataframe_to_dataset(dataframe):
    dataframe = dataframe.copy()
    labels = dataframe.pop("target")
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    ds = ds.shuffle(buffer_size=len(dataframe))
    return ds

In [ ]:
train_ds = dataframe_to_dataset(train_dataframe)
val_ds = dataframe_to_dataset(val_dataframe)